<footer>
  <div class="footer-main-container">
    <div class="footer-left-content">
      <a href="{{ '/index' | relative_url }}" class="footer-logo">
        <img alt="WOO Logo Mark" src="{{ '/src/Assets/logomark.svg' | relative_url }}">
      </a>      
      <div class="footer-links">
        <a href="{{ "/about" | relative_url }}">Project Background</a>
        <a href="{{ "/pages/guide" | relative_url }}">Network Guide</a>
        <a href="{{ "/blog/" | relative_url }}">Insights</a>
        <a href="mailto:weboforigins@gmail.com">Contact</a>
        <a href="{{ "/pages/sponsor" | relative_url }}">Donate</a>
      </div>
    </div>
    <div class="footer-socials">
      <a href="https://twitter.com/WebOfOrigins" target="_blank"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
      <a href="https://www.facebook.com/WebOfOrigins" target="_blank"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
      <a href="https://www.linkedin.com/company/weboforigins" target="_blank"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-copyright">© 2025 Web of Origins</div>
    <span class="short-vertical-divider"></span>
    <div class="footer-bottom-links">
      <a href="{{ "/pages/license" | relative_url }}">License</a>
      <a href="#disclaimer">Disclaimer</a>
      <a href="{{ "/pages/privacy" | relative_url }}">Privacy</a>
    </div>
  </div>
</footer>