<!-- Cookiebot (MUST be first blocking script) -->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="835ef43b-2355-4c7f-8b33-7368c65d97a1"
    data-blockingmode="auto" type="text/javascript">
    </script>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K2LXFRGT');
</script>

<!-- Google Analytics initialization (optional, if not managed inside GTM) -->
<script data-cookieconsent="ignore">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("consent", "default", {
        ad_personalization: "denied",
        ad_storage: "denied",
        ad_user_data: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "granted",
        wait_for_update: 500
    });
    gtag("set", "ads_data_redaction", true);
    gtag("set", "url_passthrough", false);
    gtag("js", new Date());
    gtag("config", "G-J0XPT981ZB");
</script>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.9/dist/dist/vis-network.min.css" type="text/css" />
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
<title>{{ page.title | default: "Web of Origins" }}</title>
<link rel="icon" type="image/x-icon" href="{{ "/src/Assets/favicon.ico" | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ "/src/Assets/favicon_light.svg" | relative_url }}" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/svg+xml" href="{{ "/src/Assets/favicon_dark.svg" | relative_url }}" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" href="{{ "/src/Assets/favicon_default.png" | relative_url }}">
