<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.9/dist/dist/vis-network.min.css" type="text/css" />
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
<title>{{ page.title | default: "Web of Origins" }}</title>
<link rel="icon" type="image/x-icon" href="{{ "/src/Assets/favicon.ico" | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ "/src/Assets/favicon_light.svg" | relative_url }}" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/svg+xml" href="{{ "/src/Assets/favicon_dark.svg" | relative_url }}" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" href="{{ "/src/Assets/favicon_default.png" | relative_url }}">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="{{ "/src/script.js" | relative_url }}" type="text/javascript"></script>
