<header>
  <nav id="menu" class="menu">
    <a id="home-logo" href="/index"><img class="nav-logo" alt="WOO Logo" src="/src/Assets/logo.svg"></a>
    <ul class="menu-items">
      <li><a href="{{ "/" | relative_url }}">Home</a></li>
      <li><a href="{{ " /pages/guide" | relative_url }}">Network Guide</a></li>
      <li><a href="{{ "/about" | relative_url }}">Project Background</a></li>
      <li><a href="{{ "/blog/" | relative_url }}">Insights</a></li>
    </ul>
    <button id="header-sponsor-cta" class="primary-button"><span class="btn-label">Support This Project</span><span class="btn-icon"><i class="fa-solid fa-heart"></i></span></button>
    <div class="hamburger-menu">
      <a><i class="fa-solid fa-bars fa-xl" style="color: #F8FAFB;"></i></a>
    </div>
  </nav>
</header>