
$page-content-margins: 6rem auto;
$max-content-width: 900px;
$content-gap: 2rem;


h5 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
}
.intro-text {
    font-size: 1.15rem;
    margin-bottom: 2rem;
}

// _layouts/grid.html styling
.wide-width-section { 
    width: 90%;
   padding: 0 2rem;
   margin: $page-content-margins;

    ul.listing-grid {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 2rem;
         list-style-type: none;
         padding: 0;

         li {
                width: auto;
                height: auto;
                max-height: 600px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
                border: 1px solid rgba(142, 208, 220, 0.1);
                border-radius: 8px;
                background: rgba(71, 110, 141, 0.08);
                padding: 1.5rem;

                a {
                    text-decoration: none;
                }
                h5 {
                    margin-bottom: 0;
                }
                
                .image-thumbnail {
                    width: 100%;
                    height: 10em;
                    object-fit: cover;
                    margin-bottom: 1em;
                    background-color: rgba(94, 167, 239, 0.5);
                    border-radius: 8px 8px 0 0;
                }

                .panel-cta-link {
                    align-self: flex-end;
                    margin-top: auto;
                }
         }
         > :first-child {
            grid-column: span 2;
         }
    }
}


// Default layout for post page
.page-content {
    display: flex;
    flex-direction: column;
    margin: $page-content-margins;
    gap: $content-gap;
     
    .wrapper {
        width: 80%;
        max-width: $max-content-width;
    }
}

