$heading-font: 'Source Code Pro', monospace;
$body-font: 'Source Sans 3', sans-serif;
$page-content-margins: 6rem auto;
$page-content-paddings: 0 2rem;
$max-text-content-width: 1000px;
$content-gap: 2rem;
$small-text-size: 0.85rem;
$border-radius-small: 8px;
$border-radius-medium: 14px;
$border-radius-large: 28px;



.intro-text {
    font-size: 1.15rem;
    margin-bottom: 2rem;
}

// _layouts/grid.html styling
.wide-width-section { 
    width: 90%;
   padding: 0 2rem;
   margin: $page-content-margins;
}

ul.listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    list-style-type: none;
    padding: 0;

    li {
        width: auto;
        height: auto;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        border: 1px solid rgba(142, 208, 220, 0.1);
        border-radius: $border-radius-small;
        background: rgba(71, 110, 141, 0.08);
        padding: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
            transform: translateY(-5px);
            border-color: rgba(94, 167, 239, 0.3);
            background: rgba(94, 167, 239, 0.1);
        }
         &:hover button {
                    color: #C9E73A; 
         }
         &:hover button::after {
            transform: translateX(4px);
         }

        a {
            text-decoration: none;
        }
        h5 {
            margin-bottom: 0;
            color: #8ED0DC;
            font-family: $heading-font;
        }
        p {
            margin: 0.5em 0;
        }
        .meta-block {
            margin: 0.5em 0 0 0;
        
            .post-meta {
                margin: 0.5em 0;
            }
        }
        
        .image-thumbnail {
            width: 100%;
            height: 10em;
            object-fit: cover;
            margin-bottom: 1em;
            background-color: rgba(94, 167, 239, 0.5);
            border-radius: 8px 8px 0 0;
        }

        .panel-cta-link {
            align-self: flex-end;
            margin-top: auto;
        }
    }
    > :first-child {
    grid-column: span 2;
    }
}

// Default layout for post page
.page-content {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: $page-content-margins;
    padding: $page-content-paddings;
    gap: $content-gap;
    box-sizing: border-box;
     
    .wrapper {
        width: 100%;
        max-width: $max-text-content-width;
    }
    @media (max-width: 1220px) {
        max-width: 800px;
    }
}

.post-meta {
    font-size: $small-text-size;
    color: #a8b4bc;
    letter-spacing: .04rem;
}

.blog-hero-image {
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: $border-radius-medium;
    margin: 2rem 0 2rem 0;

    @media (max-width: 600px) {
                width: 100%;
                height: auto;
                max-height: none;
            }
}




