---
title: "{{ page.title }}"
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="{{ "/src/script.js?v1.1" | relative_url }}" type="text/javascript"></script>

</body>

</html>