---
layout: null
title: "{{ page.title }}"
---

<!DOCTYPE html>
<html lang="en">
    
{% include head.html  %}

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2LXFRGT" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include header.html %}

        <main class="wide-width-section">
            {{ content }}
        </main>

        {% include footer.html %}


        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script src="{{ "/src/script.js" | relative_url }}" type="text/javascript"></script>

    </body>
</html>