/*fonts used: Source Sans 3 and Source Code Pro*/
/*Weight: value 200-900*/

/*colours:
    #C9E73A: neon green
    #0491AA: medium blue
    #8ED0DC: light blue
    #611FF4: purple
    #AEA3FF: light purple*/

body, html {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    color: #F2F5F7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(
        135deg,
        #070A14 0%,    /* Darker space black-navy */
        #150F22 30%,   /* Deeper purple-black nebula */
        #171F22 70%,   /* Dark teal-gray transition */
        #252D33 100%   /* Subtle gray-blue, toned down */
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#network {
    width: 100%;
    height: 100vh;
/*            border: 1px solid #ccc;*/
    background: transparent;
}
div.vis-tooltip {
    background-color: rgba(238, 254, 251, 0.85);
    border-radius: 24px;
    padding: 6px 14px;
    border: 1px solid #BBFFF9;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.15);
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    background-image: url(Assets/ic_resetZoom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    background-image: url(Assets/ic_zoomOut.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    background-image: url(Assets/ic_zoomIn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    background-image: url(Assets/ic_chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    background-image: url(Assets/ic_chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    transform: rotate(180deg);
    transform-origin: center center;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    background-image: url(Assets/ic_chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    transform: rotate(-90deg);
    transform-origin: center center;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    background-image: url(Assets/ic_chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    transform: rotate(90deg);
    transform-origin: center center;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    z-index: 1000;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
}
    .menu-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: .5em;
    }
        .menu ul li {
            margin-right: 24px;
        }
            .menu li a {
                text-decoration: none;
                color: #F8FAFB;
                transition: color 0.3s ease;
            }
            .menu a:visited {
                color: #F8FAFB;
            }
            .menu a:hover {
                color: #C9E73A;
                font-weight: 900;
            }
            .menu a:active {
                color: #9FFE71;
                opacity: .5;
            }
            .menu a.current {
                color: #C9E73A;
                font-weight: 400;
            }
    .nav-logo {
        width: 2.5em;
        height: auto;
    }

.hamburger-menu {
    display: none;
}


h1 {
    color: #AEA3FF;
    font-size: 5rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

h2 {
    color: #C9E73A;
    font-size: 3rem;
    font-family: 'Source Code Pro', monospace;
}

h3 {
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
}

p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .03em;
}

a {
    color: #8ED0DC;
    font-weight: 600;
}

footer {
    width: 100%;
    max-width: 100vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    color: #F8FAFB;
    font-size: .75em;
    box-sizing: border-box;
}
    footer a {
        text-decoration: none;
        color: #8ED0DC;
        white-space: nowrap;
    }
        footer a:hover {
            font-weight: 800;
        }
        footer a.current {
            font-weight: 800;
        }
    
    #home-footer {
        width: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
    }

button {
    padding: 1em 2em;
    border-radius: 10em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    letter-spacing: .03em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
a.button-link {
    text-decoration: none;
}
    button span {
        display: inline-block;
        transition: all .5s ease;
    }
    button span img {
        width: 1.5em;
    }
    button span.btn_label {
        position: relative;
        top: 0;
        opacity: 1;
        transition: .4s;
    }
    button span.btn_icon {
        position: absolute;
        transform: translateY(10px);
        visibility: hidden;
        opacity: 0;
        transition: .4s;
    }
        button:hover span.btn_label {
            top: -10px;
            opacity: 0;
        }
        button:hover span.btn_icon {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    button:active {
        opacity: .6;
    }

    .primary-button {
        background-color: #611FF4;
        border: 2px solid #B3B3CC;  
        color: #F2F5F7;
        transition: .4s;  
    }
        .primary-button:hover {
            background-color: #0491AA;
        }


.main {
    max-width: 100vw;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: calc(84px + 2%);
    margin: calc(84px + 2%) 15%;
}

    .about-content {
        width: auto;
        max-width: 100vw;
        height: auto;
    }

@media only screen and (max-width: 769px) {
    .main {
        margin: 140px 2em;
    }
    div.vis-network div.vis-navigation {
        display: none;
    }
    #home-footer {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    ul {
        padding-left: 1em;
    }
    .menu-items {display: none;}
    .hamburger-menu {display: block; cursor: pointer;}
        .hamburger-menu:active {opacity: .5}
    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 1em;
    }
    .menu-mobile {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        order: 3;
        flex: 1 0 100%;
        align-items: flex-end;
    }
    .menu ul li {
        margin-right: 0;
    }
   
}

@media only screen and (max-width: 481px) {
    h1 {
        font-size: 3rem;
    }
    footer {
        justify-content: center;
    }
}